@font-face {
    font-family: 'open-sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('./OpenSans-Regular.woff2') format('woff2');
}

body {
  background-color: #d2d2d2;
  display: grid;
  justify-content: center;
  font-family: 'open sans';
}

.product-list {
  display: grid;
}

.product-list table {
  border-collapse: collapse;
  border: 1px solid #626a80;
}

.product-list thead, .product-list tfoot {
  color: #ffffff;
}

.product-list tbody, .product-list p{
  color: #ffffff;
}

.product-list th, .product-list td {
  border: 1px solid #626a80;
  padding: 5px;
}

.product-list th {
  background-color: #eb008c;
}

.product-list th:first-child {
  width: 300px;
}

.product-list th:last-child {
  width: 100px;
}

.product-list tr:nth-child(2n) {
  background-color: #21242c;
}

.product-list tr:nth-child(2n+1) {
  background-color: #2a2f3d;
}

.product-list td:last-child {
  text-align: right;
}

.product-list input {
  box-sizing: border-box;;
  margin-bottom: 5px;
  padding: 3px 8px;
  background-color: #eb008c;
  color: #ffffff;
  border: 1px solid #eb008c;
  border-radius: 4px;
  line-height: 24px;
  outline: none;
}

.productList__label {
  padding: 3px 8px;
}
